.banner{
    background-image: url(../imgs/index-banner-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 646px;
    text-align: center;
}