.blog {
    padding: $pd-6 0;
    .blog__head {
        margin-bottom: $mg-6;
    }
    .blog__content {
        .blog__item {
            padding: 0 $pd-5;
            .content__left {
                position: relative;
                img {
                    width: 100%;
                }
                .blog__overlay {
                    position: absolute;
                    bottom: 0;
                    color: $color-white-0;
                    padding: $pd-1;
                    background: $color-black-13;
                    width: 100%;
                    p{
                        margin: 0;
                    }
                }
            }
            .content__right{
                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        display: inline-block;
                        a{
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $color-white-7;
                            font-size: 12px;
                            &::after{
                                content: ',';
                            }
                        }
                    }
                }
            }
        }
    }
}
