.blog {
    padding: $pd-6 0;
    .blog__head {
        margin-bottom: $mg-6;
    }
    .blog__content {
        .blog__item {
            padding: 0 $pd-5;
            .content__left {
                position: relative;
                img {
                    width: 100%;
                }
                .blog__overlay {
                    position: absolute;
                    bottom: 0;
                    color: $color-white-0;
                    padding: $pd-1;
                    background: $color-black-13;
                }
            }
        }
    }
}
