.brand{
    padding: $pd-6 0;
    border-top: 1px solid black;
    .brand__content{
        margin: 0 50px;
        .brand__carousel{
            .item{
                margin: $mg-3;
            }
        }
    }
}