.comment{
    padding: $pd-6 0;
    .item{
        text-align: center;
        margin: 0 50px;
        .comment__item{
            display: inline-block;
            width: 100px;
            // height: auto;
            margin-bottom: 20px;
            .circle{
                border-radius: 50%;
            }
        }
    }
}