.comment{
    padding: $pd-6 0;
    .comment__carousel{
        margin: 0 20%;
        .item{
            text-align: center;
            .comment__item{
                display: inline-block;
                width: 100px;
                // height: auto;
                margin-bottom: 20px;
                .circle{
                    border-radius: 50%;
                }
            }
        }
    }
}