.experience {
    background-image: url(../imgs/4.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    color: white;
    position: relative;
    .dark-overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        content: "";
        background: $color-black-13;
    }
    .experience__left{
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}
