footer{
    .primary__footer{
        padding: $pd-9 0;
        background-color: $color-black-2;
        color: $color-black-3;
        .footer__item{
            padding: 0 $pd-5;
            .footer__logo{
                display: block;
                margin-bottom: $mg-5;
            }
        }
    }
    // .secondary__footer{

    // }
}