header{
    .navbar__content{
        background: $color-black-0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: $color-white-0;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}