header{
    .navbar__content{
        background: $color-black-0;
        .navbar-nav{
            text-align: right;
            .nav-item{
                .nav-link{
                    color: $color-white-0;
                    text-transform: uppercase;
                }
            }
        }
    }
}