.parallax{
    background-image: url(../../imgs/8.jpg);
    padding: 150px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    .parallax__content{
        text-align: center;
        text-transform: uppercase;
        h4{
            letter-spacing: $ls-3;
            font-size: $fs-2 + 1;
            color: $color-yellow-0;
        }
        h2{
            color: $color-white-0;
            margin-bottom: 0;
            letter-spacing: $ls-3 - 1;
            font-size: $fs-6 + 1;
        }
        .parallax__btn{
            margin-top: $mg-6;
            a{
                display: inline-block;
                color: $color-white-0;
                text-decoration: none;
                background-color: $color-yellow-0;
                padding: $pd-2 $pd-5;
                font-size: $fs-2 - 1;
                letter-spacing: $ls-2;
                transition: 0.3s;
                &:hover{
                    color: $color-black-2;
                    background: $color-white-0;
                }
            }
        }
    }
    @include responsive(medium){
        .parallax__content{
            h2{
                font-size: $fs-4 + 1;
            }
        }
    }
}