.services{
  .featured-item{
      position: relative;
      padding: $pd-5;
      border: 1px solid $color-white-4;
      border-radius: $bd-0 - 1;
      .icon{
          position: absolute;
          width: $w-0;
          height: $height-3;
          top: -30px;
          left: 30px;
          text-align: center;
          border-radius: $bd-0 - 1;
          background-color: $color-black-2;
          box-shadow: 0 0 0 10px $color-white-0;
          line-height: $lh-4;
          i{
              color: $color-white-0;
              font-size: $fs-4 + 5;
              line-height: $lh-4;
          }
      }
  }
}