.showcase{
    padding-top: $pd-6;
    .page-content{
        margin-bottom: $mg-3;
        display: inline-block;
    }
    .showcase__bottom{
        .nav-tabs{
            border-bottom: none;
            .nav-item{
                .nav-link{
                    border: none;
                }
            }
        }
    }
}