.showcase{
    padding-top: $pd-6;
    .page-content{
        margin-bottom: $mg-3;
        display: inline-block;
    }
    .showcase__bottom{
        .nav-tabs{
            border-bottom: none;
            align-items: center;
            justify-content: center;
            .nav-item{
                .nav-link{
                    border: none;
                    text-transform: uppercase;
                    margin: 0 $mg-2;
                    letter-spacing: $ls-3;
                    color: $color-black-6;
                    font-size: $fs-2 - 1;
                    padding: 0px;
                    &.active{
                        color: $color-black-2;
                    }
                }
            }
        }
    }
}