.showcase {
    padding-top: $pd-6;
    .page-content {
        margin-bottom: $mg-3;
        display: inline-block;
    }
    .showcase__bottom {
        .controls {
            display: flex;
            justify-content: center;
            button {
                margin: 0 $mg-2;
                letter-spacing: $ls-3;
                text-transform: uppercase;
                color: $color-black-6;
                font-size: $fs-2 - 1;
                background: transparent;
                border: none;
                &.mixitup-control-active {
                    color: $color-black-2;
                }
            }
        }
        .showcase__items {
            margin: $mg-6 0;

            .mix {
                position: relative;
                // float: left;
                // width: 25%;
                padding: 0px;
                img {
                    width: 100%;
                }
                
            }
        }
    }
    @include responsive(large){
        .container{
            max-width: 750px;
        }
    }
    @media screen and(max-width:800px) {
        .showcase__bottom{
            .showcase__items{
                .mix{
                    width: 50%;
                }
            }
        }
    }
    @include responsive(medium){
        .page-content{
            .heading-title{
                p{
                    width: 80%;
                }
            }
        }
    }
}
