.teamMember {
    .teamMember__head {
        display: inline-block;
        margin-bottom: $mg-3;
    }
    .teamMember__body {
        .team__item {
            padding: 0 $pd-5;
            .team__member{
                position: relative;;
                img {
                    width: 100%;
                }
                .team__info {
                    position: absolute;
                    right: 0;
                    bottom: 30px;
                    width: 70%;
                    padding: $pd-1 $pd-3;
                    text-align: right;
                    background: $color-black-8;
                    h5 {
                        @extend %text--white;
                    }
                    span {
                        @extend %text--grey;
                    }
                }
                .overlay{
                    .item__content{
                        // position: relative;
                        .overlay__head{
                            position: absolute;
                            top: 35%;
                        }
                    }
                }
            }
        }
    }
}
