.teamMember {
    .teamMember__head {
        display: inline-block;
        margin-bottom: $mg-3;
    }
    .teamMember__body {
        .team__item {
            padding: 0 $pd-5;
            .team__member{
                position: relative;;
                img {
                    width: 100%;
                }
                .team__info {
                    position: absolute;
                    right: 0;
                    bottom: 30px;
                    width: 70%;
                    padding: $pd-1 $pd-3;
                    text-align: right;
                    background: $color-black-8;
                    h5 {
                        @extend %text--white;
                    }
                    span {
                        @extend %text--grey;
                    }
                }
                .overlay{
                    &:hover .overlay__head{
                        animation: head 0.3s ease;
                    }
                    &:hover .overlay__footer{
                        animation: footer 0.2s linear;
                    }
                    .item__content{
                        height: 100%;
                        .overlay__head{
                            position: absolute;
                            left: 0;
                            padding: 0 $pd-3;
                            transform: translateY(40%);
                            h4{
                                text-transform: uppercase;
                                margin-bottom: $mg-5;
                                letter-spacing: $ls-4;
                                font-size: $fs-2 - 1;
                                color: $color-black-2;
                            }
                            p{
                                margin-bottom: 0;
                                color: $color-black-3;
                                font-size: $fs-2 - 1;
                                font-weight: normal;
                                line-height: $lh-6;
                            }
                        }
                        .overlay__footer{
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transform: translateY(-20px);
                            a{
                                margin: 0 $pd-1;
                                color: $color-black-12;
                                font-size: $fs-2 + 1;
                                transition: 0.3s;
                                &:hover{
                                    color: $color-yellow-0;
                                }
                            }
                        }

                        @keyframes head {
                            from{
                                transform: translateY(-50px);
                            }
                            to{
                                transform: translateY(40%);
                            }
                        }
                        @keyframes footer {
                            from{
                                transform: translateY(50px);
                            }
                            to{
                                transform: translateY(-20px);
                            }
                        }
                    }
                }
            }
        }
    }
    .teamMember__bottom{
        background-color: $color-white-6;
        margin-top:$mg-8 ;
        padding: $pd-7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .teamBottom__info{
            h4{
                margin-bottom: 0;
                letter-spacing: $ls-2;
                text-transform: uppercase;
                color: $color-black-12;
                font-size:$fs-2 + 3 ;
                line-height: $lh-0;
                span{
                    color: $color-yellow-0;
                }
            }
            span{
                display: block;
                margin-top: $mg-1;
                color: $color-black-3;
            }
        }
    }
}
