.teamMember{
    .teamMember__head{
        display: inline-block;
        margin-bottom: $mg-3;
    }
    .teamMember__body{
        .team__item{
            padding: 0 $pd-5;
            img{
                width: 100%;
            }
        }
    }
}